/**
 * @name system24 (everforest)
 * @description a tui-style discord theme.
 * @author refact0r
 * @version 2.0.0
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/system24
 * @source https://github.com/refact0r/system24/blob/master/theme/system24.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* import theme modules */
@import url('https://refact0r.github.io/system24/build/system24.css');
@import url('https://raw.githubusercontent.com/DiscordStyles/HorizontalServerList/deploy/HorizontalServerList.theme.css');

body {
    /* font, change to '' for default discord font */
    --font: 'GohuFont uni14 Nerd Font Propo'; /* change to '' for default discord font */
    --code-font: 'GohuFont uni14 Nerd Font Propo'; /* change to '' for default discord font */
    font-weight: 400; /* text font weight. 300 is light, 400 is normal. DOES NOT AFFECT BOLD TEXT */
    /* letter-spacing: -0.05ch; decreases letter spacing for better readability. recommended on monospace fonts. */

    /* sizes */
    --gap: 5px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 2px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: off; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: off; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url(''); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */

    /* unrounding options */
    --unrounding: on; /* off: default, on: remove rounded corners from panels */

    /* styling options */
    --custom-spotify-bar: on; /* off: default, on: custom text-like spotify progress bar */
    --ascii-titles: on; /* off: default, on: use ascii font for titles at the start of a channel */
    --ascii-loader: system24; /* off: default, system24: use system24 ascii loader, cats: use cats loader */

    /* panel labels */
    --panel-labels: off; /* off: default, on: add labels to panels */
    --label-color: var(--text-muted); /* color of labels */
    --label-font-weight: 500; /* font weight of labels */
}

/* color options */
:root {
  /*
   --bg-[p|s|t|q]  : background color for primary, secondary, tertiary, quaternary themes
   --txt-[p|s|t|q] : text color for each theme
   --acc-[p|s|t|q]1-9 : accent color scale (1-9) for each theme
   */
  --mode: "dark";

  /* primary */
  --bg-p: #0E1310;
  --txt-p: #FFFFFF;
  --acc-p1: #295239;
  --acc-p2: #3A6B4E;
  --acc-p3: #4B7D5F;
  --acc-p4: #578F6D;
  --acc-p5: #65A37E;
  --acc-p6: #7AC297;
  --acc-p7: #9AE6B8;
  --acc-p8: #AAF0C6;
  --acc-p9: #CCFFE0;

  /* secondary */
  --bg-s: #10221F;
  --txt-s: #FFFFFF;
  --acc-s1: #29524B;
  --acc-s2: #3A6B63;
  --acc-s3: #4B7D75;
  --acc-s4: #578F86;
  --acc-s5: #65A399;
  --acc-s6: #7AC2B6;
  --acc-s7: #9AE6D9;
  --acc-s8: #AAF0E4;
  --acc-s9: #CCFFF7;

  /* tertiary */
  --bg-t: #1F3734;
  --txt-t: #FFFFFF;
  --acc-t1: #29524D;
  --acc-t2: #3A6B65;
  --acc-t3: #4B7D77;
  --acc-t4: #578F88;
  --acc-t5: #65A39B;
  --acc-t6: #7AC2B9;
  --acc-t7: #9AE6DC;
  --acc-t8: #AAF0E7;
  --acc-t9: #CCFFF9;

  /* quaternary */
  --bg-q: #3C504C;
  --txt-q: #FFFFFF;
  --acc-q1: #295249;
  --acc-q2: #3A6B61;
  --acc-q3: #4B7D73;
  --acc-q4: #578F84;
  --acc-q5: #65A397;
  --acc-q6: #7AC2B3;
  --acc-q7: #9AE6D6;
  --acc-q8: #AAF0E2;
  --acc-q9: #CCFFF5;

    --colors: on; /* off: discord default colors, on: everforest custom colors */

    /* text colors */
    --text-0: var(--bg-p); /* text on colored elements */
    --text-1: var(--txt-p); /* other normally white text */
    --text-2: var(--txt-p); /* headings and important text */
    --text-3: var(--txt-p); /* normal text */
    --text-4: var(--acc-p5); /* icon buttons and channels */
    --text-5: var(--acc-p3); /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: var(--bg-s); /* dark buttons when clicked */
    --bg-2: var(--bg-t); /* dark buttons */
    --bg-3: var(--bg-p); /* spacing, secondary elements */
    --bg-4: var(--bg-p); /* main background color */
    --hover: var(--bg-2); /* channels and buttons when hovered */
    --active: var(--bg-1); /* channels and buttons when clicked or selected */
    --active-2: var(--bg-q); /* extra state for transparent buttons */
    --message-hover: var(--hover); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--acc-p6); /* links and other accent text */
    --accent-2: var(--acc-p6); /* small accent elements */
    --accent-3: var(--acc-p6); /* accent buttons */
    --accent-4: var(--acc-p7); /* accent buttons when hovered */
    --accent-5: var(--acc-p8); /* accent buttons when clicked */
    --accent-new: var(--acc-q4); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: var(--acc-p6); /* change to #40a258 for default */
    --dnd: var(--acc-q4); /* change to #d83a41 for default */
    --idle: var(--acc-s6); /* change to #cc954c for default */
    --streaming: var(--acc-t6); /* change to ##9147ff for default */
    --offline: var(--text-4); /* change to #82838b for default offline color */

    /* border colors */
    --border-light: var(--hover); /* general light border color */
    --border: var(--active); /* general normal border color */
    --border-hover: var(--accent-2); /* border color of panels when hovered */
    --button-border: hsl(220, 0%, 100%, 0.1); /* neutral border color of buttons */

    /* base colors */
    --red-1: var(--acc-q4);
    --red-2: var(--red-1);
    --red-3: var(--red-1);
    --red-4: var(--acc-q3);
    --red-5: var(--acc-q1);

    --green-1: var(--acc-p6);
    --green-2: var(--green-1);
    --green-3: var(--green-1);
    --green-4: var(--acc-p4);
    --green-5: var(--acc-p2);

    --blue-1: var(--acc-s6);
    --blue-2: var(--blue-1);
    --blue-3: var(--blue-1);
    --blue-4: var(--acc-s4);
    --blue-5: var(--acc-s2);

    --yellow-1: var(--acc-s7);
    --yellow-2: var(--yellow-1);
    --yellow-3: var(--yellow-1);
    --yellow-4: var(--acc-s5);
    --yellow-5: var(--acc-s3);

    --purple-1: var(--acc-t6);
    --purple-2: var(--purple-1);
    --purple-3: var(--purple-1);
    --purple-4: var(--acc-t4);
    --purple-5: var(--acc-t2);
}
